<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <select name="" id="" v-model="currentComponent">
      <option value="box1">box1</option>
      <option value="box2">box2</option>
      <option value="box3">box3</option>
    </select>
    <component :is="currentComponent"></component>
  </div>
  <script>
      Vue.component('box1', {
        template: '<h1>模板1</h1>'
      })
      Vue.component('box2', {
        template: '<h1>模板2</h1>'
      })
      Vue.component('box3', {
        template: '<h1>模板3</h1>'
      })
      var vm = new Vue({
        el: "#app",
        data: {
          currentComponent: ""
        }
      })
  </script>
</body>
</html>